.header {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 13%;
  justify-content: space-between;
  padding: 0 10%;
  background: #ece8e1;
  align-items: center;
  color: #111111;
  z-index: 1;
}

.header__logo-content {
  display: flex;
  align-items: center;
  color: #111111;
}

.header__title {
  color: #111111;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  transition: 300ms ease-in-out;
}

.header__title:hover {
  transform: scale(102%);
}

.header__title:visited {
  color: #111111;
  font-size: 36px;
}

.header__logo-image {
  width: 50px;
  margin-left: 5px;
}

.header__line {
  width: 100%;
  height: 5px;
  bottom: -5px;
  background: #111111;
  position: absolute;
}

.header__navbar {
  display: none;
}

.close-menu {
  display: none;
}

@media screen and (max-width: 820px) {
  .header {
    flex-direction: column;
    height: 13%;
  }
    
  .header__line {
    width: 100%;
    background: #ece8e1;;
  }
}

